{% capture share_title %} {% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }} {% endcapture %}
{% capture share_description %} {% if page.excerpt %}{{ page.excerpt | escape }}{% else %}{{ site.description | escape }}{% endif %} {% endcapture %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ share_title }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    
  <link rel="shortcut icon" type="image/png" href="{{ "/assets/favicon.png" | prepend: site.baseurl }}" >
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <meta property="og:title" content="{{ share_title }}"/>
  <meta property="og:description" content="{{ share_description }}" />
  <meta property="og:site_name" content="{{ site.title | escape }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:type" content="blog"/>
  <meta property="og:locale" content="en_US" />
  {% if page.thumbnail %}<meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}"/>{% endif %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@timikoponen">
  <meta name="twitter:creator" content="@timikoponen">
  <meta name="twitter:title" content="{{ share_title }}">
  <meta name="twitter:description" content="{{ share_description }}">
  {% if page.thumbnail %}<meta name="twitter:image" content="{{ site.url }}{{ page.thumbnail }}">{% endif %}
    
  {% include google-analytics.html %}
</head>
{% include fb-twitter.html %}